---
import '@/assets/css/tailwind.css';
import Meta from '@/components/Meta.astro';
import Navigation from '@/components/Navigation.astro';
import Footer from '@/components/Footer.astro';

interface Props {
    meta: {
        title?: string;
        description?: string;
        image?: {
            src: string;
            alt?: string;
        };
    };
}

const { meta } = Astro.props;
---

<script>
    import '@/assets/js/alpine';
</script>

<html lang="en">
    <Meta {meta} />
    <body>
        <div id="app" class="text-muted-foreground relative flex min-h-screen flex-col antialiased" x-data="app">
            <Navigation {meta} />
            <slot />
            <Footer />
        </div>
    </body>
</html>
