@use "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "system-ui", "sans-serif";

    // Default background color of <body />...etc
    --background: 250 250 250; // Zinc 50
    --foreground: 9 9 11; // Zinc 950

    // Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch />
    --muted: 244 244 245; // Zinc 100
    --muted-foreground: 82 82 91; // Zinc 600

    // Background color for <Card />
    --card: var(--background);
    --card-foreground: var(--foreground);

    // Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover />
    --popover: var(--background);
    --popover-foreground: var(--foreground);

    // Default border color
    --border: 228 228 231; // Zinc 200

    // Border color for inputs such as <Input />, <Select />, <Textarea />
    --input: var(--border);

    // Primary colors for <Button />
    --primary: var(--foreground);
    --primary-foreground: var(--background);

    // Secondary colors for <Button />
    --secondary: var(--foreground);
    --secondary-foreground: var(--background);

    // Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc
    --accent: 79 70 229; // Indigo 600
    --accent-foreground: var(--background);

    // Used for destructive actions such as <Button variant="destructive">
    --destructive: 220 38 38; // Red 600
    --destructive-foreground: var(--background);

    // Used for focus ring
    --ring: var(--accent);

    // Border radius for card, input and buttons
    --radius: 0.75rem;

    @media (prefers-color-scheme: dark) {
      --background: 9 9 11; // Zinc 950
      --foreground: 250 250 250; // Zinc 50

      --muted: 24 24 27; // Zinc 900
      --muted-foreground: 161 161 170; // Zinc 400

      --card: var(--background);
      --card-foreground: var(--foreground);

      --popover: var(--background);
      --popover-foreground: var(--foreground);

      --border: 39 39 42; // Zinc 800

      --input: var(--border);

      --primary: var(--accent);
      --primary-foreground: var(--background);

      --secondary: var(--foreground);
      --secondary-foreground: var(--background);

      --accent: 129 140 248; // Indigo 400
      --accent-foreground: var(--background);

      --destructive: 248 113 113; // Red 400
      --destructive-foreground: var(--background);

      --ring: var(--accent);

      --radius: 0.75rem;
    }
  }
}

@layer utilities {
  .rich-text {
    @apply max-w-none
      prose
      prose-accent
      prose-blockquote:border-l-accent
      prose-headings:scroll-my-36
      prose-headings:text-foreground
  }

  .no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
