@use "./fonts";
@use "./tokens";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [x-cloak] {
    display: none !important;
  }

  * {
    @apply border-border;
  }

  html {
    @apply bg-background text-muted-foreground font-sans antialiased scroll-smooth;
  }

  body {
    @apply text-base;
  }

  main[tabindex='-1'] {
    outline: none;
  }
}

@layer utilities {
  .rich-text {
    @apply max-w-none
      prose
      prose-accent
      prose-blockquote:border-l-accent
      prose-headings:scroll-my-36
      prose-headings:text-foreground
  }

  .no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
